*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

body {
  color: #EEE;
  font-family: 'Open Sans', sans-serif;
}

.settings-icon {
  position: fixed;
  top: 2.4rem;
  left: 2.4rem;
  font-size: 2.2rem;
  cursor: pointer;
  z-index: 10;
}

.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, .75);
  z-index: 5;
  opacity: 0;
  transition: opacity .2s;
}

.dark-overlay.active {
  opacity: 1;
}

.dark-overlay .settings-box {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 100%;
  padding: 2.4rem;
  width: 40rem;
  height: 30rem;
  background-color: #FCFCFC;
  color: #141414;
  transition: .2s;
}

.dark-overlay.active .settings-box {
  top: 50%;
  transform: translateY(-50%);
}

.dark-overlay * {
  font-family: 'Open Sans', sans-serif;
}

.dark-overlay .settings-box .save-settings {
  margin-top: auto;
}

.dark-overlay .settings-box label {
  margin-bottom: .8rem;
  font-size: 1.2rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("./img/main-background.jpg");
  background-size: cover;
  background-position: center;
}

.timer {
  display: flex;
  flex-direction: column;
}

.timer .timer-time {
  display: flex;
  margin-bottom: 1rem;
  font-family: 'Lexend', sans-serif;
}

.timer .timer-time > * {
  display: grid;
  place-items: center;
  width: 11.2rem;
  height: 11.2rem;
  background: rgba(32, 32, 32, .9);
  font-size: 4.6rem;
}

.timer .timer-time > *:not(:last-child) {
  margin-right: 1rem;
}

.timer .timer-settings {
  display: flex;
}

.timer .timer-settings > * {
  padding: 1rem .5rem;
}

.timer .timer-settings > *:not(:last-child) {
  margin-right: 1rem;
}

.timer .timer-settings input {
  width: 5.8rem;
  background: none;
  font-size: 1.4rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #CCC;
  color: #CCC;
  transition: .2s;
}

.timer .timer-settings input:focus {
  border-bottom: 1px solid #fcb126;
}

.timer .timer-settings .timer-start {
  width: 15.2rem;
  background-color: #fcb126;
  border: none;
  outline: none;
  cursor: pointer;
}
